<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div ng-app="app">
  <div ng-controller="profilesCtrl" ng-init="setup()" >
    
    <div>
    {{profiles.length}} users
    </div>

    <table class="table table-striped">
      
      <tr>
        <th><button ng-click="toggleOrder('name')">Name</button></th>
        <th><button ng-click="toggleOrder('email')">Email</button></th>
        <th><button ng-click="toggleOrder('title')">Title</button></th>
        <th><button ng-click="toggleOrder('company')">Company</button></th>
      </tr>

      <tr>
        
      <td> <datalist id="full_names">
      <option ng-repeat="profile in profiles">{{profile.full_name}} </option>
    </datalist>
    <input ng-model="nameFilter" list="full_names"> </td>

    <td><datalist id="emails">
      <option ng-repeat="profile in profiles">{{profile.email}} </option>
    </datalist>
    <input ng-model="emailFilter" list="emails"></td>
    
    <td><datalist id="titles">
      <option ng-repeat="profile in profiles">{{profile.professional_roles[0].title}} </option>
    </datalist>
    <input ng-model="titleFilter" list="titles"></td>

    <td><datalist id="companies">
      <option ng-repeat="profile in profiles">{{profile.professional_roles[0].company}} </option>
    </datalist>
    <input ng-model="companyFilter" list="companies"></td>
      </tr>
      
      <tr ng-repeat="profile in profiles | filter: {full_name: nameFilter, email: emailFilter, title: titleFilter, company: companyFilter}| orderBy:orderAttribute:direction">
        <td><a href="/profiles/{{profile.id}}">{{ profile.full_name}}</a></td>
        <td>{{profile.email}}</td>
        <td>{{profile.professional_roles[0].title}}</td>
        <td>{{profile.professional_roles[0].company}}</td>
      </tr>

    </table>
    
  </div>
</div>

