<div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <h3> Name <%= @profile.full_name %> </h3>
  <h3> Email: <%= @profile.email %> </h3>
  <h3> Title: <%= @profile.professional_roles.title %> </h3>
  
</div>