<section class="content pattern notification">
        <div class="container">
          <div class="row">
            
            <div class="col-sm-12">
              <h3>How Intervyou.me was founded?</h3>
              <p>"As a college senior in 2013, I was thrilled when I made it to the final interview at a top trading firm for a six figure salary. Sadly, I failed the interview and didn't get the offer. I realized that I hadn't prepared enough, because I didn't know whom to practice with, and that my college friends were in the same boat. I really wanted to make this app for other job seekers to find experts and peers to prep with, and get their dream job."</p><p>
              <a href="https://www.linkedin.com/in/charusharma1"><i>-Charu Sharma, Founder of Intervyou.me</i></a></p>
            </div>
          </div>
        </div>
      </section>

       <section class="content recent-blog-posts">
        <div class="container">
          <div class="section-title">
            <h2>Useful online resources</h2>
            <p>We highly recommend reading the following articles.</p>
          </div>
          <div class="row">
            
            <!-- BLOG POST - START -->
            <div class="col-xs-6 col-sm-3">
              <article class="post">
                <%= image_tag "theme/blog/blog-1.jpg" %>
                <h3><a href="https://www.themuse.com/advice/the-ultimate-interview-guide-30-prep-tips-for-job-interview-success">The Ultimate Interview Guide: 30 Prep Tips for Job Interview Success</a></h3>
                <span class="date">The Daily Muse</span>
              </article>
            </div>
            <!-- BLOG POST - END -->
            
            <!-- BLOG POST - START -->
            <div class="col-xs-6 col-sm-3">
              <article class="post">
                <%= image_tag "theme/blog/blog-2.jpg" %>
                <h3><a href="https://www.glassdoor.com/blog/common-interview-questions/">50 Most Common Interview Questions, compiled by Glassdoor team</a></h3>
                <span class="date">Glassdoor blog</span>
              </article>
            </div>
            <!-- BLOG POST - END -->
            
            <!-- BLOG POST - START -->
            <div class="col-xs-6 col-sm-3">
              <article class="post">
                <%= image_tag "theme/blog/blog-3.jpg" %>
                <h3><a href="http://blog.linkedin.com/2015/09/01/the-hiring-secrets-of-richard-branson-apples-angela-ahrendts-other-top-managers/">The Hiring Secrets of Richard Branson, Apple’s Angela Ahrendts & Other Top Managers</a></h3>
                <span class="date">LinkedIn.com</span>
              </article>
            </div>
            <!-- BLOG POST - END -->
            
            <!-- BLOG POST - START -->
            <div class="col-xs-6 col-sm-3">
              <article class="post">
                <%= image_tag "theme/blog/blog-4.jpg" %>
                <h3><a href="http://www.quintcareers.com/star-interviewing/">STAR Interviewing Response Technique for Success in Behavioral Job Interviews</a></h3>
                <span class="date">Quint Careers</span>
              </article>
            </div>
            <!-- BLOG POST - END -->
            
          </div>
        </div>
</section>
