<section class="content pattern notification">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANjAAAAJDY4MmVmMGViLWNhYjYtNGVlNC1hZGM2LTNjYTNjZGE5MjJhNg.jpg">
      </div>
      <div class="col-sm-8">
        <h1 class="color-background"><span>How Intervyou.me was founded?</span></h1>
        <br>
        <p>"As a college senior in 2013, I made it to the final interview round at a top trading firm for a six figure salary. Sadly, I failed the interview and didn't get the offer. I realized that I hadn't prepared enough, because I didn't know whom to practice with. My college friends were in the same boat. This inspired Intervyou.me app for job seekers to find experts and peers to prep with, and get their dream job."</p><p>
        <br>
        <a href="https://www.linkedin.com/in/charusharma1"><i>-Charu Sharma, Founder of Intervyou.me</i></a></p>
      </div>
    </div>
  </div>
</section>

<section class="content recent-blog-posts">
  <div class="container">
    <div class="section-title">
      <h2>Useful online resources</h2>
      <p>We highly recommend reading the following articles.</p>
    </div>
    <div class="row">

      <!-- BLOG POST - START -->
      <div class="col-xs-6 col-sm-3">
        <article class="post">
          <%= image_tag "theme/blog/thedailymuse.jpeg" %>
          <h3><a href="https://www.themuse.com/advice/the-ultimate-interview-guide-30-prep-tips-for-job-interview-success">The Ultimate Interview Guide: 30 Prep Tips for Job Interview Success</a></h3>
          <span class="date">The Daily Muse</span>
        </article>
      </div>
      <!-- BLOG POST - END -->

      <!-- BLOG POST - START -->
      <div class="col-xs-6 col-sm-3">
        <article class="post">
          <%= image_tag "theme/blog/glassdoor.png" %>
          <h3><a href="https://www.glassdoor.com/blog/common-interview-questions/">50 Most Common Interview Questions, compiled by Glassdoor team</a></h3>
          <span class="date">Glassdoor blog</span>
        </article>
      </div>
      <!-- BLOG POST - END -->

      <!-- BLOG POST - START -->
      <div class="col-xs-6 col-sm-3">
        <article class="post">
          <%= image_tag "theme/blog/linkedin.png" %>
          <h3><a href="http://blog.linke din.com/2015/09/01/the-hiring-secrets-of-richard-branson-apples-angela-ahrendts-other-top-managers/">The Hiring Secrets of Richard Branson, Apple’s Angela Ahrendts & Other Top Managers</a></h3>
          <span class="date">LinkedIn.com</span>
        </article>
      </div>
      <!-- BLOG POST - END -->

      <!-- BLOG POST - START -->
      <div class="col-xs-6 col-sm-3">
        <article class="post">
          <%= image_tag "theme/blog/star.jpeg" %>
          <h3><a href="http://www.quintcareers.com/star-interviewing/">STAR Interviewing Response Technique for Success in Behavioral Job Interviews</a></h3>
          <span class="date">Quint Careers</span>
        </article>
      </div>
      <!-- BLOG POST - END -->

    </div>
  </div>
</section>