.main_page {
  border-style: solid;
  border: red;
  margin-top: 150px;
  margin-bottom: 100px;
}

.jumbotron {
  height: 500px;
  padding-right: 0px; 
  padding-left: 0px;   
}



.container .jumbotron, .container-fluid .jumbotron {
  padding-right: 0px; 
  padding-left: 0px; 
}

.container-fluid{
  padding-right: 0px; 
  padding-left: 0px;
}

.magic-button tr th button {
  color: black;
}

.center-aligned{
  text-align: center;
}

.profile-show-image{
  width:315px;
  height:315px;
}

.styling-profile-data{
  background-color: #ffffff;
  padding: 15px;
}
.styling-profile-data h3{
  opacity: 2.0;
}
